@import url('https://fonts.googleapis.com/css?family=Mate+SC');

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Mate SC', serif;
}

.nav {
  width: 100vw; 
  height: 13vh; 
  background-color: #4285f4;
  text-align: center;
  font-size: xx-large;
  color: white;
  margin-top: -3rem;
}

.left-center {
  transform: translateX(-50%);  
  left: 25%;
  position: absolute;
}

.right-center {
  transform: translateX(-50%);
  left: 75%;
  position: absolute;
}

.vertical-separator {
  background-color: #4285f4; 
  width: 5px; 
  height: 75vh;
  background-clip: content-box;
  transform: translate(-50%, -50%);
  left: 50%; 
  top: 55%;
  position: absolute;
  border-radius: 10px;
}

.horizontal-separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #4285f4; 
  height: 5px;
  width: 45vw;
  border-radius: 10px;
}

#map-buttons {
  width: 45vw;
  height: 35vh;
}

#chart {
  width: 45vw; 
  height: 35vh; 
  background-color: #fafafa;
  margin-top: 5vh;
}

#myChart {
  width: 100%;
  height: 100%;
}

#map-container {
  margin-top: 5vh;
  height: 75vh;
  width: 45vw;
  background-color: gray; 
}

#graph-disclaimer{
  font-size: small;
  color: #777777;
}

.blueWord{
  color: #275DCA;
}
.magWord{
  color: #CA2776;
}
.yelWord{
  color: #FBF41C;
}
.orWord{
  color: #FB9C1C;
}
.aquaWord{
  color: #1CFBD2;
}
.greenWord{
  color: #1CFB66;
}