@import url('https://fonts.googleapis.com/css?family=Mate+SC');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Mate SC', serif;
}

h1 {
  font-size: 6em;
  margin-top: 3rem;
}

.legend {
  margin: 10px auto;
}
.legend-container:first-child {
  margin-top: 20px;
}

.info {
  margin: 5px auto;
}

#menu1 {
  background-color: #5bc0de;
  font-size: 1.5em;
  color: white;
}

.nav {
  width: 100vw; 
  height: 150px; 
  background-color: #4285f4;
  text-align: center;
  color: white;
  margin-top: -3rem;

}

.left-center {
  transform: translateX(-50%);  
  left: 25%;
  position: absolute;
}

.right-center {
  transform: translateX(-50%);
  left: 75%;
  position: absolute;
}

.vertical-separator {
  z-index: -1;
  background-color: #4285f4; 
  width: 5px; 
  height: 75vh;
  background-clip: content-box;
  transform: translate(-50%, -50%);
  left: 50%; 
  top: 55%;
  position: absolute;
  border-radius: 10px;
}

.horizontal-separator {
  z-index: -1;
  margin-top: 2rem;
  margin-bottom: 2  rem;
  background-color: #4285f4; 
  height: 5px;
  width: 45vw;
  border-radius: 10px;
}

.fade {
  -webkit-animation-duration: 2s;
}

#map-buttons {
  width: 45vw;
  height: 35vh;
}

#chart {
  width: 45vw; 
  height: 35vh;
  background-color: #fafafa;
  margin-top: 5vh;
}

#myChart {
  width: 100% !important;
  height: 100% !important;
}

#map-container {
  margin-top: 5vh;
  height: 75vh;
  width: 45vw;
  background-color: gray; 
}

#graph-disclaimer{
  font-size: small;
  color: #777777;
}

.container {
  width: 150px !important;
  margin-top: 3rem;
  margin-right: 3rem;
}
.blueWord{
  color: #275DCA;
}
.magWord{
  color: #CA2776;
}
.yelWord{
  color: #FBF41C;
}
.orWord{
  color: #FB9C1C;
}
.aquaWord{
  color: #1CFBD2;
}
.greenWord{
  color: #1CFB66;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
